.browse {
  display: flex;
  flex-direction: row;
}
.browse-matches {
  border-right: 1px solid;
  position: sticky;
  left: 0;
  width: 500px;
  height: 99vh;
}
.profile {
  padding: 2% 0;
  display: flex;
  align-items: center;
}
.profile:hover {
  background-color: rgba(211, 211, 211, 0.171);
}

.profile > h1 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: bold;
  font-size: 25px;
  margin-left: 10px;
  color: rgb(48, 48, 48);
}

.profile-img {
  height: 50px;

  border-radius: 100%;
  margin: 10px 0 0 10px;
}

.conversations {
  max-height: calc(100vh - 115px);
  overflow: hidden;
}

.conversations {
  height: 100%;
  transition: 200ms all;
}
.hidden {
  height: 0;
  overflow: hidden;
}

.conversations-dropdown {
  margin-top: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.conversations-dropdown:hover {
  cursor: pointer;
}
.conversations-dropdown > .dropdown-arrow {
  padding-left: 10px;
  font-weight: bolder;
}

.conversations-dropdown > .recent {
  color: gray;
}
.conversation {
  padding-top: 10px;
  display: flex;
  align-content: center;
  cursor: pointer;
}
.conversation:hover {
  background-color: rgba(211, 211, 211, 0.171);
}
.conversation > img {
  max-height: 50px;
  max-width: 50px;
  border-radius: 100%;
  margin: 10px 0 20px 10px;
}
.conversation-description {
  display: flex;
  flex-direction: column;
  align-items: left;
}
.conversation-description > h1 {
  padding-left: 5%;
  font-size: 15px;
  margin: 15px 0 5px 0;
  font-weight: bold;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  width: 100%;
  text-align: left;
}

.conversation-description > h2 {
  margin: 0;
  padding-left: 5%;
  font-size: 14px;
  width: 100%;
  font-weight: normal;
  color: rgb(109, 109, 109);
}

.browse-right {
  padding-top: 1%;
  width: 100%;
  padding-left: 13%;
}
.browse-right > button {
  background-color: white;
  border: none;
  color: gray;
}

.browse-right > img {
  height: 50px;
  float: inline-end;
  padding-left: 36%;
}

.profile-card {
  width: 60vw;
  margin-top: 5%;
  height: 70vh;
  border: 1px solid lightgray;
  border-radius: 30px;
}
.browse-buttons {
  text-align: center;
  padding-right: 12%;
  padding-top: 1%;
}
.browse-buttons > button {
  background-color: white;

  border-radius: 100%;
  padding: 30px;
  font-size: 30px;
  margin-right: 20px;
  transition: 300ms all;
}
.browse-buttons > .dislike {
  border: 2px solid lightgray;
  color: lightgray;
}
.browse-buttons > .dislike:hover {
  transform: scale(1.1);
}
.browse-buttons > .like {
  border: 2px solid rgb(255, 177, 177);
  color: rgb(255, 177, 177);
  font-weight: bold;
}

.browse-buttons > .like:hover {
  transform: scale(1.1);
}

.two-sum-logo {
  height: 50px;
  float: inline-end;
  padding-left: 36%;
}
