.modal {
  text-align: center;
  margin: 1% 37%;
  border: 1px solid black;
  border-radius: 20px;
  background-color: white;
  position: absolute;
  top: 20%;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  pointer-events: none;
}
.modal.show {
  opacity: 1;
  pointer-events: visible;
}
.delete-btn-container {
  padding: 20px 20px 0 0;
  margin: 0;
}
.delete-btn {
  background-color: white;
  border: solid 2px rgb(65, 65, 65);
  color: rgb(65, 65, 65);
  font-weight: bolder;
  font-size: 1vw;
  left: 45%;
  top: 10px;
  border-radius: 100%;
  position: relative;
  z-index: 2;
}

.login-logo {
  height: 7vw;
  margin: 0;
}
.modal-header > h4 {
  font-size: 2vw;
  margin: 0;
  font-style: italic;
}
.modal-header > h5 {
  font-weight: normal;
  padding: 0% 15%;
}
.modal-header > h5 > span {
  text-decoration: underline;
}
.modal-header > h5 > span:hover {
  cursor: pointer;
}
form > input {
  border: none;
  border-radius: 5px;
  margin: 3% 10%;
  padding: 5px 10px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1vw;
  background-color: rgba(238, 238, 238, 0.473);
}

form > button {
  margin: 10px;
  color: white;
  font-weight: bold;
  font-size: 1vw;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  background: rgb(254, 13, 13);
  background: linear-gradient(
    90deg,
    rgba(254, 13, 13, 1) 0%,
    rgba(254, 213, 60, 1) 100%
  );
}
.logbackinbtn{
  
    margin: 10px;
    color: white;
    font-weight: bold;
    font-size: 1vw;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    background: rgb(254, 13, 13);
    background: linear-gradient(
      90deg,
      rgba(254, 13, 13, 1) 0%,
      rgba(254, 213, 60, 1) 100%
    );
  
}
.logintext{
  margin: 10px;
  font-style: italic
}

.logbackinspan{
  text-decoration: underline;
}
.logbackinspan:hover{
  cursor: pointer;
}
.logbackinspan:active{
  color: blue;
}

