.navbar-background {
  position: sticky;
  top: 0;
  height: 10vh;
  background-color: rgb(158, 158, 248);
}
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  padding: 1% 20%;
  color: white;
  font-size: 2vh;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.navbar-icon {
  padding-right: 10px;
}
.navbar-left {
  display: flex;
  flex-direction: row;
}
.navbar-left > li {
  list-style: none;
  padding: 20px 30px;
}
.navbar-right {
  display: flex;
  flex-direction: row;
  float: right;
  padding-right: 10%;
}
.navbar-right > li {
  list-style: none;
  padding: 20px 30px;
}
